p span {
  text-align: center;
  display: block;
}

h1,
h2,
h3 {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  font-family: "Helvetica Neue", sans-serif;
}

h1 {
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  animation: pop-up 0.5s ease-in-out;
}

h2 {
  color: #444;
  animation: slide-in 0.5s ease-in-out;
}

h3 {
  color: #555;
  animation: fade-in 0.5s ease-in-out;
}

.navbar {
  box-shadow: 0 0.5vw 0.5vw rgb(0, 244, 89);
  background-color: #e8f900;
  margin-bottom: 20px;
}

.navbar-nav .nav-link:hover,
.nav-link:hover {
  color: #f39c12 !important;
}

.nav-link {
  color: #ffffff !important;
}

.border-button {
  border: 0.2vw solid #000;
  transition: background-color 0.3s, color 0.3s;
  box-shadow: 0 0.5vw 0.5vw rgb(255, 255, 255);
}

.border-button:hover {
  background-color: #5b9fff92;
  color: #ffffff;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  animation: bounce 3s infinite;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

.btn-danger,
.btn-primary {
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-danger:hover,
.btn-primary:hover {
  transform: scale(1.05);
}

body {
  font-family: "Arial", sans-serif;
  padding-top: 7vh;
  color: #333;
  line-height: 1.6;
}

body.home,
body.booking,
body.service,
body.attractions {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body.home,
body.booking {
  background-color: #488adc;
}

body.home {
  background-image: url("homeimg.jpg");
}

body.booking {
  background-image: url("bookingimg.jpg");
}

body.service {
  background-color: #292f36;
  background-image: url("serviceimg.jpg");
  color: #000000;
}

body.attractions {
  background-color: #ffffff;
  background-image: url("attractionsimg.jpg");
  color: #000000;
}

body.admin {
  background-color: #f8f9fa;
  color: #343a40;
  font-family: "Arial", sans-serif;
}

.container {
  margin-top: 10vh;
}

.content-box {
  background-color: #ffffffe2;
  padding: 60px 0;
  color: #000000;
  margin: auto;
  max-width: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.429);
  border-radius: 5px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  padding-top: 10vh;
  box-shadow: 0 0.8vw 0.8vw rgb(0, 0, 0);
  padding-bottom: 5vh; /* Add padding-bottom to ensure content fits within the page */
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: auto;
}

.lead {
  text-align: center;
  margin: 2rem 0;
}

.btn-center {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.service-img {
  width: 100%;
  height: 20vh;
  object-fit: cover;
}

.attraction-item img {
  width: 100%;
  height: auto;
  max-height: 20vh;
  object-fit: cover;
}

.card {
  border: none;
  border-radius: 10px;
}

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
  color: #6c757d;
}

.card:hover {
  transform: scale(1.05);
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 1.5vw 1.5vw rgba(0, 0, 0, 0.511);
  background-color: #f8f9fa;
}

.table {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0.5vw 0.5vw rgba(0, 0, 0, 0.1);
}

.table th,
.table td {
  text-align: center;
  vertical-align: middle;
}

.table th {
  background-color: #343a40;
  color: #ffffff;
}

.table td {
  color: #343a40;
}

footer {
  background-color: #343a40;
  color: #ffffff;
  text-align: center;
  padding: 2vh 0;
  margin-top: 4vh;
}

@keyframes pop-up {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@media (max-width: 992px) {
  .content-box {
    padding: 2.5vw;
    margin: 2vw auto;
  }
  .service-img {
    height: 18vh;
  }
}

@media (max-width: 768px) {
  .navbar-nav {
    text-align: center;
  }
  .content-box {
    padding: 2vw;
    margin: 1vw auto;
  }
  .service-img {
    height: 15vh;
  }
}

@media (max-width: 576px) {
  .service-img {
    height: 10vh;
  }
  .content-box {
    padding: 1vw;
    margin: 0.5vw auto;
  }
  .navbar {
    padding: 1vw;
  }
  .navbar-nav .nav-link {
    padding: 0.5vw;
  }
  footer {
    padding: 1vh 0;
  }
}

.attractions-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2vw;
}

.attractions-list .attraction-item {
  margin-bottom: 20px;
}

.attraction-item {
  flex: 1 1 30vw;
  margin: 2vw;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 1vw;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

.attraction-item:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.attraction-item p {
  margin-top: 1vh;
  padding: 1vh;
}

.bg-primary {
  background-color: rgb(255, 255, 255) !important;
}

.text-center {
  margin-bottom: 40px;
  font-size: 2.5rem;
  font-weight: bold;
  color: #343a40;
  font-family: "Helvetica Neue", sans-serif;
}

.text-center h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.text-center h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.text-center address,
.text-center p {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.navbar-dark.bg-dark {
  background-color: #343a40 !important;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

h2 {
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-size: 2rem;
  font-weight: bold;
  color: #343a40;
  text-align: center;
}

.btn-light.border-button {
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
}

.btn-light.border-button:hover {
  background-color: rgba(255, 255, 255, 1);
  color: #000;
}
